.form-design 
{
    border-bottom: 1px solid darkgoldenrod;
    margin-left:30%;
    width: 500px;
    padding: 20px;
    display: block;
    text-align: center;
}
.form-design input
{
    margin-top: 20px;
    display: block;
    width: 450px;
    border-radius: 5px;
}
/* .googleBtn
{
    margin-left: 10%;
} */